/* CSS reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* side panel and main panel design */
.container {
    display: flex;
    height: 100vh;
}

.side-panel {
    background-color: aqua;
    flex: 35%;
}

.main-panel {
    background-color: blanchedalmond;
    flex: 65%;
}