/* CSS reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

body {
    font-family: sans-serif;
}

/* side panel and main panel design */
.container {
    display: flex;
    height: 100vh;
}

.side-panel {
    flex: 35%;
    background: url("images/casey-horner-RmoWqDCqN2E-unsplash.jpg") no-repeat;
    background-size: cover;
}

.main-panel {
    flex: 65%;
    padding: 56px 88px 24px 48px;
}

label {
    text-transform: uppercase;
}

form>div {
    margin: 16px 0;
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
}

.main-panel__text--italicize {
    font-style: italic;
}

.main-panel__text {
    font-weight: bold;
    font-size: 1.2rem;
    color: #555;
}

.main-panel__additional-text {
    margin: 16px 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 4px;
}

input:focus {
    border-color: #294962;
    outline: none;
}

button[type="submit"] {
    background-color: #294962;
    border: none;
    color: #fff;
    padding: 8px 24px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    box-shadow: 2px 2px #aaa;
}

.login {
    text-decoration: none;
    font-weight: bold;
    color: #294962;
}

.logo-container {
    background-color: #294962;
    opacity: 0.7;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    width: 15%;
    height: auto;
    display: inline;
}

.logo-container span {
    font-size: 5rem;
    color: #fff;
}

.side-panel-footer {
    color: #fff;
    text-align: center;
    position: relative;
    top: 60%;
}

.side-panel-footer a {
    color: #fff;
}